modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8081
externalPort = 8081

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "node server.js"]
build = ["sh", "-c", "bash scripts/build-and-verify.sh"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
EXPO_PUBLIC_API_BASE_URL = "https://vms-backend-app-qa.replit.app"
EXPO_PUBLIC_VMS_API_BASE_URL = "https://vms-backend-app-qa.replit.app"
EXPO_PUBLIC_MICROSOFT_AUTH_URL = "https://vms-backend-app-qa.replit.app"
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyAY6g-50Gu5zlB3sbkKHuuG5DpBOLZd_xo"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "dallah-albaraka-vms.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "dallah-albaraka-vms"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "dallah-albaraka-vms.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "913604772710"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-Y5G46SXSQB"
EXPO_PUBLIC_FIREBASE_APP_ID_WEB = "1:913604772710:web:46c93bf8fbcd061362bea7"
EXPO_PUBLIC_FIREBASE_APP_ID_ANDROID = "1:913604772710:android:a9320215a876705e62bea7"
EXPO_PUBLIC_FIREBASE_APP_ID_IOS = "1:913604772710:ios:ea764c22ce480dec62bea7"
EXPO_PUBLIC_FIREBASE_VAPID_KEY = "BKXyeihYX0n_rNHIEIP26eNGnbVZL_rCsiLnA7jv0ZuIThHmbV0FJqENbmt-QnikL4uqKbh3lYqp0sqAQImDass"
